# 工作流的名称。GitHub会在仓库的“Actions”标签下显示你的工作流名称
name: Release
# 定义如何触发工作流
on:
  # 手动触发工作流时
  workflow_dispatch:
  # 推送任意 tag 时
  push:
    tags:
      - v*

jobs:
  # 作业 id
  release:
    # 作业名称
    name: release ${{ github.ref_name }}
    # 运行作业的机器类型
    runs-on: ubuntu-latest #选择GitHub 托管运行器 linux
    permissions:
      # 允许操作创建发布
      contents: write

    # 步骤
    steps:
      # 步骤名称
      - name: 切分支
        # 引用 GitHub Actions 市场中的 Action see:https://github.com/marketplace?type=actions
        uses: actions/checkout@main

      - name: 安装 go 环境
        uses: actions/setup-go@v6
        with:
          # 使用 go 最新的稳定版本
          go-version: stable

      - name: 编译项目
        run: |
          # 创建输出目录
          mkdir -p dist

          # 打包后文件命名格式： [项目名]-[版本号]-[操作系统]-[架构].[扩展名]
          # 编译 Android arm64（ 版本
          GOOS=linux GOARCH=arm64 go build -ldflags "-X github.com/bynow2code/gofileserver/main.version=${{ github.ref_name }}" -o dist/gofileserver-${{ github.ref_name }}-android-arm64 ./main.go
          # 编译 Linux amd64 版本
          GOOS=linux GOARCH=amd64 go build -ldflags "-X github.com/bynow2code/gofileserver/main.version=${{ github.ref_name }}" -o dist/gofileserver-${{ github.ref_name }}-linux-amd64 ./main.go
          # 编译 Windows amd64 版本
          GOOS=windows GOARCH=amd64 go build -ldflags "-X github.com/bynow2code/gofileserver/main.version=${{ github.ref_name }}" -o dist/gofileserver-${{ github.ref_name }}-windows-amd64.exe ./main.go
          # 编译 macOS amd64 版本
          GOOS=darwin GOARCH=amd64 go build -ldflags "-X github.com/bynow2code/gofileserver/main.version=${{ github.ref_name }}" -o dist/gofileserver-${{ github.ref_name }}-macos-amd64 ./main.go
          # 编译 macOS arm64 版本
          GOOS=darwin GOARCH=arm64 go build -ldflags "-X github.com/bynow2code/gofileserver/main.version=${{ github.ref_name }}" -o dist/gofileserver-${{ github.ref_name }}-macos-arm64 ./main.go

      - name: 创建 Github Release
        uses: ncipollo/release-action@v1
        with:
          # 触发工作流运行的分支或标记的短参考名称
          tag: ${{ github.ref_name }}
          # release title
          name: Release ${{ github.ref_name }}
          # 上传打包后的文件
          artifacts: dist/geeksaver-*
          # release 正文
          #bodyFile: "body.md"